name: "Formatting"
on:
  pull_request:
  push:
  workflow_dispatch:
jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
    - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31
    - run: nix run nixpkgs#alejandra -- -c .
