name: "Formatting"
on:
  pull_request:
  push:
  workflow_dispatch:
jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - uses: cachix/install-nix-action@a809471b5c7c913aa67bec8f459a11a0decc3fce # v31
    - run: nix run nixpkgs#alejandra -- -c .
